name: "check-and-notify"

on:
  schedule:
    - cron: "20 5,17 * * *" # Using UTC timezone
  workflow_dispatch:

permissions:
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: pipx install poetry
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "poetry"
      - run: poetry install

      - name: Run Script
        env:
          ENV_FILE_CONTENT: ${{ secrets.ENV_FILE_CONTENT }}
          THRESHOLD_RATE: ${{ vars.THRESHOLD_RATE }}
        run: |
          set -e
          echo "$ENV_FILE_CONTENT" > .env
          echo "THRESHOLD_RATE=$THRESHOLD_RATE" >> .env
          make run
